body {
    background-color: #eee;
}
#map {
    margin-left:auto;
    margin-right:auto;
 }
/*your code here*/
#header{
    font-weight: bolder;
    border-bottom:2px solid black;
}
#correct{
    color: green;
}

#incorrect{
    color: red;
}
#title{
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

#subtitle{
    text-align: center;
}

#table{
    margin-left:auto;
    margin-right:auto;
    border-collapse:collapse;
    
}
td {
    border-bottom:1px solid #808080;
    border-collapse:collapse;
}

#categories{
    margin-left:37%;
}

#pr3__clear{
    margin-left: 5px;
}

#pr3__undo{
    margin-left: 5px;
}

#pr3__reset{
    margin-left: 5px;
}